/*
    Configuraçãod o bootstrap para importação dos incones
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.custom-sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

.custom-img-logo {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.35));
}

.custom-background-img {
    position: relative;
    background-image: url(../img/background-header.jpeg);
    background-size: 100%;
    background-attachment: fixed;
}

.custom-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
